<div class="container">
    <div class="text-center">
        <div class="timer">
            <ion-icon name="compass"></ion-icon>
            <span class="label label-primary">{{_timer.heures | number:'2.'}}:{{_timer.minutes | number:'2.'}}:{{_timer.secondes | number:'2.'}}</span>
        </div>
    </div>
</div>
