<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-content>
        <ion-list inset>

            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input type="password" value=""></ion-input>
            </ion-item>

        </ion-list>

        <div padding (click)="goToHikeList()">
            <button ion-button color="primary" block>Sign In</button>
        </div>


    </ion-content>

    <ion-footer *ngIf="_timerService.secondes">
        <ion-toolbar>
            <div (click)="goToHikeInProgress()">
                <chronometre></chronometre>
                <div class="start">
                    <button ion-button icon-right (click)="itemTapped($event, item)" small class="btn"
                            *ngIf="_timerService.play">
                        {{_timerService.btnPlay}}
                    </button>
                    <button ion-button icon-right small class="btn" *ngIf="_timerService.stop"
                            (click)="_timerService.itemTappedStop($event, item)">Pause
                    </button>
                </div>
            </div>
        </ion-toolbar>
    </ion-footer>
