page-hike-details {
  agm-map {
    height: 300px;
  }

  .randoDetail {
    text-align: center;
  }

  .randoInfo {
    padding-left: 4em;
  }

  .cstm-grid {
    border-style: solid;
    border-width: thin;;
    border-color: black;

    ion-col {
      @extend .randoInfo;
    }
  }
}
