<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Hikes Details</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid *ngIf="_selectedHike">
        <ion-row>
            <ion-col col-12>
                <img src="assets/imgs/puy_de_dome.jpg">
            </ion-col>
        </ion-row>

        <ion-row class="randoDetail">
            <ion-col col-12>
                <div class="item-note">{{ _selectedHike.title}}</div>
            </ion-col>
        </ion-row>
        <ion-row class="randoDetail">
            <ion-col col-12>
                <ion-icon class="star item-note" *ngFor="let mark of _selectedHike.mark" name="star" item-end
                          small></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="randoInfo">
                <ion-icon class="pin" name="pin"></ion-icon>
                <span class="item-note">{{ _selectedHike.adress }}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="randoInfo">
                <ion-icon class="clock" name="clock"></ion-icon>
                <span class="item-note"> ~ {{ _selectedHike.duration }} min</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="randoInfo">
                <ion-icon class="trending-up" name="trending-up"></ion-icon>
                <span class="item-note"> ~ {{ _selectedHike.range }} m</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="randoInfo">
                <div class="item-note">{{ _selectedHike.description}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="randoDetail">
                <button ion-button icon-right (click)="activateHike($event, item)" *ngIf="_timerService.play">
                    Start
                </button>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-grid class="cstm-grid" *ngFor="let step of _selectedHike.steps">
        <ion-row>
            <ion-col col-12>{{step._numerotation}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>{{step._name}}</ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col col-12 class="randoDetail">
                <button ion-button icon-right (click)="activateHike($event, item)" *ngIf="_timerService.play">
                    Start
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>

<ion-footer *ngIf="_timerService.secondes">
    <ion-toolbar>
        <div (click)="goToHikeInProgress()">
            <chronometre></chronometre>
            <div class="start">
                <button ion-button icon-right (click)="itemTapped($event, item)" small class="btn"
                        *ngIf="_timerService.play">
                    {{_timerService.btnPlay}}
                </button>
                <button ion-button icon-right small class="btn" *ngIf="_timerService.stop"
                        (click)="_timerService.itemTappedStop($event, item)">Pause
                </button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
