<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Hike in progress:</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid *ngIf="_hikeSelected">
        <ion-row>
            <ion-col>
                <img src="assets/imgs/puy_de_dome.jpg">
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-col>
                        <div class="item-note">{{ _hikeSelected.title }}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="item-note">{{ _hikeSelected.adress }}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="item-note">{{ _hikeSelected.description }}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="item-note">{{ _hikeSelected.range }}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="item-note">{{ _hikeSelected.mark }}</div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-col>
                        <button ion-button icon-right
                                (click)="deactivateHike($event, item);_timerService.itemTappedStop($event, item)">
                            Desactivate
                            <ion-icon name="add-circle"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window [latitude]="lat" [longitude]="lng">Current Position</agm-info-window>
        </agm-marker>
        <agm-marker *ngFor="let step of _hikeSelected.steps" [latitude]="step.latitude" [longitude]="step.longitude">
            <agm-info-window [latitude]="step.latitude" [longitude]="step.longitude">{{step.name}} : {{step.name}}
            </agm-info-window>
        </agm-marker>
        <agm-direction *ngFor="let item of dir" [renderOptions]="renderOptions" [origin]="item.origin"
                       [destination]="item.destination"></agm-direction>
    </agm-map>

</ion-content>

<ion-footer *ngIf="_timerService.secondes">
    <ion-toolbar>
        <div>
            <chronometre></chronometre>
            <div class="start">
                <button ion-button icon-right (click)="itemTapped($event, item)" small class="btn"
                        *ngIf="_timerService.play">
                    {{_timerService.btnPlay}}
                </button>
                <button ion-button icon-right small class="btn" *ngIf="_timerService.stop"
                        (click)="_timerService.itemTappedStop($event, item)">Pause
                </button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
