<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Hike List</ion-title>
    </ion-navbar>
</ion-header>

<h1>Hiking</h1>
<ion-content>
    <ion-list>


        <!--
              <table>
                <tr class="tableList">
                  <td rowspan="5"> <img class="imgList" [src]="hike.urlImage" [alt]="hike?.title"> </td>
                  <td>{{hike.title}}</td>
                </tr>
                <tr>
                  <td>{{hike.address}}</td>
                </tr>
                <tr>
                  <td class="description">{{hike.description}}</td>
                </tr>
                <tr>
                  <td>{{hike.duration}}</td>
                  <td>{{hike.range}}</td>
                </tr>
                <tr>
                    <ul>
                      <li *ngFor="let i of ' '.repeat(hike.mark).split(''), let x = index">
                        <ion-icon name="star" item-left></ion-icon>
                      </li>
                    </ul>

                </tr> -->
        <!-- </table> -->

        <ion-card *ngFor="let hike of _hikes" (click)="hikeTapped($event, hike)">
            <img [src]="hike.urlImage" [alt]="hike?.title"/>
            <ion-card-content class="card">
                <ion-card-title class="title_trail">{{hike.title}}</ion-card-title>
                <div class="card-title adr_trail">{{hike.address}}</div>
                <p class="description_trail">{{hike._description}}</p>
                <ion-row>
                    <ion-col>
                        <button ion-button icon-start clear small class="btn_trail">
                            <ion-icon name="timer"></ion-icon>
                            <div>{{hike.duration}}</div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button icon-start clear small class="btn_trail">
                            <ion-icon name="walk"></ion-icon>
                            <div>{{hike.range}}</div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button (click)="itemTappedFav($event, item, hike)" ion-button icon-start clear small
                                class="btn_trail">
                            <ion-icon *ngIf="hike.favorite" class="star" name="star"></ion-icon>
                            <ion-icon *ngIf="!hike.favorite" class="star" name="star-outline"></ion-icon>
                            <div class="star">Favorite</div>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

    </ion-list>
</ion-content>

<ion-footer *ngIf="_timerService.secondes">
    <ion-toolbar>
        <div (click)="goToHikeInProgress()">
            <chronometre></chronometre>
            <div class="start">
                <button ion-button icon-right (click)="itemTapped($event, item)" small class="btn"
                        *ngIf="_timerService.play">
                    {{_timerService.btnPlay}}
                </button>
                <button ion-button icon-right small class="btn" *ngIf="_timerService.stop"
                        (click)="_timerService.itemTappedStop($event, item)">Pause
                </button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
