.grid {
  .chip {
    padding-left: 5px;
    padding-right: 5px;
  }

  .col {
    margin: auto;
  }
}

.title_trail {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.adr_trail {
  margin-bottom: 0.5em;
}

.btn_trail:hover {
  background-color: transparent !important;
}

.btn_trail {
  padding: 0;
}

.star {
  color: #ffb800;
}

.card {
  padding-bottom: 0px;
}

.mark {
  display: inline;

  li {
    display: inherit;
    list-style-type: none;
  }
}
